# Virtual environment
/venv/
/.venv/

# Pytest stuff
/.pytest_cache/
*.coverage
coverage.*

# Pycache
*/__pycache__/

# VSCode stuff
/.vscode/

# Mypy stuff
/.mypy_cache/

# Build stuff
/build/
/dist/
/*.egg-info/
/*.eggs/
/wheelhouse/

# Tox stuff
/.tox/

# Bytecode stuff
*.pyd
*.so
